mixin headerMenu(items) 
   div.hamburger 
      span 
   nav.nav
      ul.header_menu.flex
         for item in items 
            li
               a(href=item.url) #{item.name} 

//- mixin figureServices(item) 
//-    figure(class="card")
//-       figcaption 
//-          picture
//-             img(src=item.src + ".png" alt=item.alt class=item.click) 
//-          h3(class=item.hack)= item.title 
//-          p= item.description

mixin figureAboutUs(item) 
   figure(class="cardDev " + item.number)
      figcaption 
         .pic.flex.justify_center.relative
            picture
               source(srcset=item.src + ".webp" type="image/webp") 
               img(src=item.src + ".jpg" alt=item.alt) 
            .socials 
               each social in ['facebook', 'twitter', 'google', 'linkedin']
                  if item[social]
                     a(href=item[social]) 
                        img(src="img/social_" + social + ".png", alt=social + " page")
         h3= item.name
         p= item.position

mixin cardsWorks(items)
   for item in items
      .cardWork.relative(data-category=item.category.join(','))
         picture
            source(srcset=item.src + ".webp" type="image/webp") 
            img(src=item.src + ".jpg" alt=item.alt) 
         .cardInfoBlock.absolute.flex.justify_center
            .cardInfo
               h3= item.title
               p= item.category.join(', ')
               a(href=item.href).relative View

mixin post(item)
   .post.flex.items_stretch
      picture
         source(srcset=item.src + ".webp" type="image/webp") 
         img(src=item.src + ".jpg" alt=item.alt) 
      .post_itself 
         .flex 
            .data
               p= item.dateDay
               p.month= item.dateMonth
            .title_block
               h3= item.title
               p.by by 
                  span.author= item.author 
                  span &nbsp;in 
                  span.status= item.status
         p.text= item.text
         p 
            a(href="#").readMore Read more 

mixin reviews(items)
   for item in items
      .review
         p.comment= item.comment
         p.reviewer= item.name